@using ParkingUNAH.Features.Parking.Dtos
@{
    ViewData["Title"] = Model[0].DescripcionSector;
}

@model List<EstacionamientoSectorDto>

<div class="contenedor">
    <div class="contenedor-izquierdo">
        <div class="sign-parking text-center">
            @Model[0].DescripcionSector
        </div>

        <div class="flex-container wrap">
            @{
                foreach (var estacionamiento in Model)
                {
                    <div id="parking-space-@estacionamiento.EstacionamientoId"
                         class="flex-item @(estacionamiento.EstaOcupado ? "isTaken" : "isNotTaken")"
                         onclick="modificarEstadoEstacionamiento(@estacionamiento.EstacionamientoId)">
                        @estacionamiento.Posicion
                    </div>
                }
            }
        </div>
    </div>
    <div class="contenedor-derecho">
        @foreach (var estacionamiento in Model)
        {
            if ((estacionamiento.Posicion - 1) % 5 == 0 || estacionamiento.Posicion == 1)
            {     
                @:<div class="row">
            }

           <div class="col-sm-2">
                <div class="card custom-card text-center">
                    <img id="image-parking-@estacionamiento.EstacionamientoId" src="~/images/car.png" alt="car"
                        class="custom-img @(estacionamiento.EstaOcupado ? "" : "hide-objects")">

                    <h5 id="no-posicion-@estacionamiento.EstacionamientoId" 
                        class="card-title mb-0 @(estacionamiento.EstaOcupado ? "hide-objects" : "")">
                        @estacionamiento.Posicion
                    </h5>
                </div>
            </div>

            if (estacionamiento.Posicion % 5 == 0 || estacionamiento.Posicion == Model.Count)
            {
                @:</div>

                <div class="row">
                    <div class="col-sm-10">
                        <div class="entry-way"></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="outside">Entry / Exit</div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    <script>
        function modificarEstadoEstacionamiento(estacionamientoId) {
            $.ajax({
                type: 'put',
                url:`/parking/cambiarEstadoEstacionamiento?estacionamientoId=${estacionamientoId}`,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: {"estacionamientoId": estacionamientoId},
                success: function(response) {
                    if(response.ok){
                        const parkingSpace = document.getElementById(`parking-space-${estacionamientoId}`);
                        const image = document.getElementById(`image-parking-${estacionamientoId}`);
                        const numeroPosicion = document.getElementById(`no-posicion-${estacionamientoId}`);

                        if(response.data.estaOcupado){
                            image.className = "custom-img";
                            parkingSpace.className = "flex-item isTaken";
                            numeroPosicion.className = "card-title mb-0 hide-objects";
                        }else{
                            image.className = "custom-img rotar-imagen";
                            parkingSpace.className = "flex-item isNotTaken";
                            
                            setTimeout(function(){
                                numeroPosicion.className = "card-title mb-0";
                                image.className = "custom-img hide-objects";
                            }, 1000)
                        }                        
                    }
                },
                error: function(response) {
                    console.log(response);
                }
            });
        }
    </script>
}
